<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
  <filter>
    <display-name>filter</display-name>
    <filter-name>filter</filter-name>
    <filter-class>com.yezhihao.www.service.FilterService</filter-class>
    <init-param>
      <param-name>noLoginPaths</param-name>
      <param-value>Login.jsp;Listener.jsp;LonginFailed.jsp;/servlet/LonginServlet;RegisterUser.jsp;RegisterFali.jsp;RegisterSuceess.jsp;/RegisterUserServlet;/servlet/ChangePosswordServlet;InputPossworld.jsp;AnswerPossword_Q.jsp;ChangePassword.jsp;ChangePossword_S.jsp;/servlet/ImageServlet;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <display-name>yezhihao_bookSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LonginServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.LonginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LonginServlet</servlet-name>
    <url-pattern>/servlet/LonginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/servlet/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/servlet/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/servlet/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePosswordServlet</display-name>
    <servlet-name>ChangePosswordServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.ChangePosswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePosswordServlet</servlet-name>
    <url-pattern>/servlet/ChangePosswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFailApplyServlet</display-name>
    <servlet-name>DeleteFailApplyServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.DeleteFailApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFailApplyServlet</servlet-name>
    <url-pattern>/servlet/DeleteFailApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDookServlet</display-name>
    <servlet-name>DeleteDookServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.DeleteDookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDookServlet</servlet-name>
    <url-pattern>/servlet/DeleteDookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/servlet/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyBorrowBook</display-name>
    <servlet-name>ApplyBorrowBook</servlet-name>
    <servlet-class>com.yezhihao.www.view.ApplyBorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyBorrowBook</servlet-name>
    <url-pattern>/servlet/ApplyBorrowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectBookServlet</display-name>
    <servlet-name>CollectBookServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.CollectBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectBookServlet</servlet-name>
    <url-pattern>/servlet/CollectBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllowApplyServlet</display-name>
    <servlet-name>AllowApplyServlet</servlet-name>
    <servlet-class>com.yezhihao.www.view.AllowApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllowApplyServlet</servlet-name>
    <url-pattern>/servlet/AllowApplyServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         <!-- D:\Tomcat\apache-tomcat-7.0.69\webapps\data\ -->
         D:\JAVA学习\yezhihao.toptiew.booksystem\src\main\webapp\amg_lib\
     </param-value>
  </context-param>  
</web-app>